@media (max-width: 420px) {
    .logo {
        font-size: 7.66vw;
    }
    .header-middle {
        display: none;
    }
    .main-header__block2 {
        display: none;
    }
    button {
        display: none;
    }
    .phone2 {
        display: none;
    }
    .navigation img{
    width: 8.333333333333332vw;
    height: 8.333333333333332vw;
    }
    .navigation p {
    display: flex;
    align-items: center; 
    font-size: 4.285714285714286vw;
    padding-left: 2.85vw;
}
    .phone1{margin-top: 7.38vw;}
    h1{ width: 69.04vw;font-size: 5.238095238095238vw;}
    .phone1>p{font-size: 5.238095238095238vw;padding-top: 5px;}


    .mobile-text {
        padding-top: 3.09vw;
        font-size: 3.33vw;
        line-height: 150%;
        color: #1F1F1F;
        width: 71.42vw;
        margin-bottom: 2.85vw;
    }
    .content{flex-direction: column;}
    .content__block{width: 79.28vw;padding: 0vw 7.380952380952381vw 2vw 6.190476190476191vw; height: auto;}
    .content__heading{font-size: 3.8095238095238098vw;padding-top: 5vw;}
    .content__li-last{width: auto;}
    ul>li{font-size: 2.857142857142857vw;}
    .strike {
        display: none;
    }
    .stats{display: flex;justify-content: center;flex-direction: column;width: 68.61904761904761vw;}
    .stats h2{  
        font-size: 11.190476190476192vw;
    }
    .stats p{  
        font-size: 3.6904761904761907vw;
        width: 46.714285714285715vw;
    }
    #out{
        width: 46.714285714285715vw;
}

    .container.mobile{display: none;}

}
@media (min-width: 421px) {
    .mobile-text {
        display: none;
    }
