* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans;
}

.container{
	width:83.3%;
	margin:0 auto;
	padding-top:1.87vw;
}

.main-header{display: flex;justify-content: space-between;align-items: center;}

.navigation{
	display: flex;
	align-items: center; 
	font-size: 0.94vw;
}

.navigation img{
	width: 2.91vw;
	height: 2.55vw;
}

.heading-font{    
	font-family: Open Sans;
    font-weight: bold;
    line-height: 130%;
}

.header-middle{width:11vw;}

.header-middle2{width:15.9vw;}

.header__text{
	color: #82B2A2; 
	font-size:0.83vw;
	line-height: 130%;
}

.tel{	    
	font-size: 1.15vw; 
	font-weight: bold;
}

.logo{
	font-size: 1.66vw;
	line-height: 130%;
	color: #C51103;    
 	font-family: Open Sans;
    font-weight: bold;
}

button {
	width:10.02vw;
	height:3.38vw;
	background-color: #ffffff;
	border: 2px solid #82B2A2;
	font-size:0.83vw;
	padding: 0vw 1.45vw 0vw 1.45vw;
}

.phone{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.phone1{
	flex:1;
	font-size: 2.8688vw;
	line-height: 130%;
	width: 37vw;
}

.phone2{
	flex:1;
	width:45.3vw;
	height:26.04vw;
	}

.phone1 p{
	color: #82B2A2;
	font-weight: bold;
}

h1{
	font-size: 2.8688vw;
	line-height: 130%;
	width: 37vw;
}

.content {
	display:flex;       
}

li{	
	list-style-type: none;
}

ul>li{
	font-size:0.9375vw;
	font-family: Inter;
}

.content__block{
	background: #F2F7F6;
	margin: 0.5vw;
}

.content__indent {
    margin-bottom: 1.61vw;
}

.left{    
    display: flex;
    flex-direction: column;
    flex-basis: 40.5vw;
    padding: 1.56vw 1.93vw 3.33vw 2.1vw;
    height: 33.85vw;
    width:26.5625vw;
}

.rtl{    
    padding: 1.6vw 1.30vw 3.39vw 2.13vw;flex:1;
height: 18.802083333333332vw;

}

.rtr{   
 padding: 1.66vw 2.19vw 0vw 1.66vw;flex: 1;
 height: 18.802083333333332vw;
}

.rb{   
    display: flex;
    flex-direction: column;
    padding: 1.77vw 0vw 6.42vw 2.08vw; 	
    height: 14vw;
}
.content__ul {
    list-style-type: none;
}

.content__li {
    margin-bottom: 1.25vw;
}
.content__li-last{
	width:21.47vw;
}

.content__heading{
	font-size: 1.25vw;
line-height: 130%;
}

.stats{width:59.16vw;
	display: flex;
	justify-content: space-between; 
	margin: 0 auto;
	flex-direction: row; 
	padding-top: 4.270833333333333vw;}

.stats h2{	
	font-size: 2.8688vw;
	color: #82B2A2;
	line-height: 130%;
}

.stats__number{
	display: flex;
	justify-content: space-between; 
	flex-direction: row;
	align-items: center;
	padding-bottom: 4.479166666666667vw;
}

.stats__number p{
	padding-left:0.9765625vw;
	width:11.2vw;
	font-weight: bold;
	line-height: 150%;
	font-size:0.9375vw;
}

#out{
	width:10.2vw;
}

.strike{
	border-radius: 0;
}

.map__map {
    display: flex;
    margin-top: 0.8333333333333334vw;
    justify-content: space-between;
}

.map__heading {
    font-size: 1.875vw;
    color: #1F1F1F;
    margin-bottom: 1.69vw;
}

.map__p {
    font-size: 0.94vw;
    line-height: 140%;
    color: #999999;
    width: 21.09vw;
}

iframe{
	margin-bottom:3.3854166666666665vw;
}

.main-footer__block1{    
	display: flex;
    justify-content: space-between;
    margin-bottom: 3.18vw;
}

.main-footer__logo {
    display: flex;
    align-items: center;
}

.footer-logo{
	font-size:2.5vw;
	color: #C51103;
font-style: normal;
font-weight: bold;
line-height: 130%;
margin-right: 1.3020833333333335vw;
}

.main-footer__p {
    font-size: 0.94vw;
    line-height: 140%;
    color: #1F1F1F;
    width: 60%;
    padding: 0vw 0vw 0vw 1.3vw;
}

.main-footer__block2 {
    display: flex;
    justify-content: space-between;


}

.main-footer__p {
    font-size: 0.94vw;
    line-height: 140%;
    color: #1F1F1F;
    width: 60%;
    padding: 0vw 0vw 0vw 0.31vw;
}

.main-footer__icon {
    width: 1.3vw;
    height: 0.9375vw;
}
.main-footer__block3{
	width:15.5vw;
}

.main-footer__block4{   
	width: 15.8vw;
}

.main-footer__block5{
	width:11.55vw;
}
.silver{color:#999999;}
